h1 {
  color: yellowgreen;
  font-style: italic;
}

#div1 {
  width: auto;
  margin-top: 10%;
}

#div2 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  width: auto;
  height: auto;
  background-color: #7b2cbf;
  margin-left: 9%;
  margin-right: 9%;
  margin-top: -10%;
}

#div3 {
  display: flex;
  background-color: rgb(0, 255, 98);
  flex-direction: row;
  height: 100%;
  flex: 1;
}

#div4 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: ;
  width: auto;
  height: auto;
  background-color: #7b2cbf;
  margin-left: 9%;
  margin-right: 9%;
}

#div5 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  width: auto;
  height: auto;
  background-color: #7b2cbf;
  margin-left: 9%;
  margin-right: 9%;
}

#div6 {
  width: 300px;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: #240046;
}

header {
  height: 500px;
  background-color: rgb(255, 0, 0);
  flex-direction: column;
  width: 500px;
  flex: 1;
  margin-bottom: 500px;
}

html {
  height: 100%;
}

body {
  height: 100%;
  display: flex;
  background-color: #10002b;
}
